* {
  padding: 0;
  margin: 0;
}
.main{
  width:1215px; height: 1028px; margin-left: 33px;
  background-image: url(background.png);
}
.@font-face {
font-family: helvetica;
src: url(C:front_end\1005_1\fonts\HelveticaNeue.ttf)
}
.block1{
  width: 1215px; height: 36px;
  background-color: rgb(7, 76, 137);
}
.brick1ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 2px;
    padding-left: 300px;
}
.brick1li {
    display: inline;
    margin-right: 20px;
    margin-left: 5px;
}
.brick1li > a {
  color: rgb(96, 181, 237);
  text-decoration: none;
font-family: helvetica;
}
.brick1li_activ {
    display: inline;
    background-color:  rgb(78, 171, 218);
    padding: 0;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    margin-left: 5px;
    font-family: open sans;
}
.brick1li_activ > a {
  color: white;
  text-decoration: none;
  font-family: helvetica;
}
.brick1li_white {
  display: inline;
  margin-right: 20px;
  margin-left: 5px;
}
.brick1li_white > a {
  color: white;
  text-decoration: none;
  font-family: helvetica;
}
.brick1li_last{
  display: inline;
  background-image:linear-gradient(to bottom, rgb(78, 171, 218), rgb(60, 190, 250));
  padding: 0;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 20px;
  margin-left: 0px;
  font-family: open sans;
}
.brick1li_last > a {
  color: white;
  text-decoration: none;
  font-family: helvetica;
}

.under {
  display: inline;
  background-image:linear-gradient(to bottom, rgb(78, 171, 218), rgb(60, 190, 250));
  padding: 0;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
font-family: helvetica;
  text-decoration: underline;
}
.block2{
  padding-top: 180px;
  width:1215px; height: 1028px;
}
.faceb{
    height: 30px;
    width: 276px;
    border-radius: 3px;
    background-image:linear-gradient(to bottom, rgb(59, 86, 173), rgb(46, 64, 112));
    margin-left: 150px;
    margin-right: 200px;
    text-align: center;
    text-decoration: none;
    font-family: helvetica bold;
    padding-bottom: 06px;
}
.facebul{
  margin-top: 0px;
  padding: 0;
}
.facebli {

    display: inline;
    margin-right: 05px;
    margin-left: -30px;
  /*  border-right: solid 2px gray; */
}
.facebli > a {

  text-decoration: none;
  color: white;
  font-size: 20pt;
  font-family: helvetica;
}
.faceb1li_activ{
  display: inline;
  margin-left: 20px;
}
.faceb1li_activ > a {

  text-decoration: none;
  color: white;
  font-family: helvetica;
}
.faceb1li_activ > a > p {
  display: inline;


  text-decoration: none;
  color: white;
  font-family: helvetica;
  font-weight: bold;
}
.ou{
  margin-top: 20px;
  margin-left: 150px;
}
.rows{
  padding-left: 140px;
}
INPUT.txt:focus {
    border: 3px solid rgb(75, 135, 175);
    background-color: rgb(27, 82, 136);
    font-family: helvetica;
   }
.txt{
   width: 260px;
   height: 35px;
   background-color: black;
   color: white;
   border: none;
   border-bottom: solid 2px grey;
   padding-left: 15px;
   font-family: helvetica;

 }

.form_header{
      margin: auto;
      width:560px; height: 52px;
      background-color: rgba(0, 0, 0, 0.5) ;
      padding-top: 18px;
      text-align: center;
      color: white;
      font-size: 24pt;
      font-family: helvetica;
}
.form_body{
    margin: auto;
    margin-top: 2px;
    width:560px; height: 549px;
    background-color: rgba(0, 0, 0, 0.5) ;
    padding-top: 20px;
}
.by{
  text-align: center;
  font-size: 11pt;
  font-family: helvetica;
}
.clicking{
    height: 100px;
    margin-top: 30px;
    text-align: center;
    color: white;
    font-family: helvetica;
    margin-left: 100px;
    margin-right: 100px;
}
.send_my{
  margin-top: 30px;
  text-align: center;
  color: white;
  font-family: helvetica;
}

.account{
    height: 30px;
    border-radius: 3px;
    margin-top: 30px;
    padding-top: 10px;
    background-image:linear-gradient(to bottom, rgb(80, 175, 220), rgb(65, 115, 141));
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    text-decoration: none;
    font-family: helvetica;
}

.button{
  margin-top: 30px;
  text-decoration: none;
  color: white;
  font-family: helvetica;
}

.row{
  padding-top: 10px;
  padding-left: 10px;
}
