* {
  padding: 0;
  margin: 0;
}
.main {width:1215px; height: 1064px; margin-left: 33px;
}
.block1{
  width: 1215px; height: 36px;
  background-color: rgb(8, 82, 146) ;
}
.block2{
margin: auto;
  height: 560px;
  weight: 549px;
  padding-top: 0px;
  background-color: black;
}
.form_header {

  margin: auto;
  margin-top: 40px;
  height: 20px;
  width: 200px;
  background-color: chartreuse;

}
.form_body {

  margin: auto;
  margin-top: 2px;
  height: 400px;
  width: 200px;
  background-color: chartreuse;
}
