* {
  padding: 0;
  margin: 0;
}
.main {width:1215px; height: 1064px; margin-left: 33px;
}

.block1{
  width: 1215px; height: 36px;
background-color: rgb(7, 76, 137) ;
}
.brick1ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 10px;
    padding-left: 400px;
}

.brick1li {
    display: inline;
    margin-right: 20px;
    margin-left: 5px;
}
.brick1li > a {
  color: rgb(96, 181, 237);
  text-decoration: none;
  font-family: open sans;
}
.brick1li_activ {
    display: inline;
    background-color:  rgb(78, 171, 218);
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    margin-left: 5px;
    font-family: open sans;
}
.brick1li_activ > a {
color: white;
  text-decoration: none;
  font-family: open sans;
}

.block2{
  background-color: black;
  padding-top: 200px;
  width:1215px; height: 1028px;
}
.form_header{
      margin: auto;
      width:560px; height: 52px;
      background-color: rgba(90, 90, 90, 0.5) ;
      padding-top: 10px;
      text-align: center;
      color: white;
      font-size: 24pt;

}
.form_body{
    margin: auto;
    margin-top: 2px;
    width:560px; height: 549px;
    background-color: rgba(90, 90, 90, 0.5) ;
}
 .row {
padding-top: 40px;
padding-left: 40px;
}
